:root {
  --gmargin: 5px; 
}

.container {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}

.square {
    box-sizing: border-box;
    margin: var(--gmargin);
    width: calc(25% - (2 * var(--gmargin)));
    aspect-ratio: 1 / 1;
    background-color: white;
    border: 1px solid #000;
}