:root {
  --gmargin: 0.1%;
  --calcWidth: calc(25% - (2 * var(--gmargin)));
}

body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.size-button {
    max-width: 400px;
    margin: auto;
    font-size: 24px;
}

.container {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}

.square {
    box-sizing: border-box;
    margin: var(--gmargin);
    width: var(--calcWidth);
    aspect-ratio: 1 / 1;
    background-color: white;
    border: 1px solid #000;
}